#pinecone api key below
PINECONE_API_KEY=''

#pinecone index, which contains your job embeddings(if we use mongodb, make sure the changes in syntax are also done)
PINECONE_INDEX_NAME=''

#google api, for your gemini api key. also can store other llm api key if you change code
GOOGLE_API_KEY=''

DATABASE_URL=''

DATABASE_NAME=''

JWT_SECRET=''

# Add any other environment-specific settings