# Virtual environment
venv/
pyvenv.cfg

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE specific files (optional, but often helpful)
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db