
#pinecone api key below
PINECONE_API_KEY = ''

#pinecone index, which contains your job embeddings
PINECONE_INDEX = ''

#google api, for your gemini api key. also can store other llm api key if you change code
GOOGLE_API_KEY = ''